@import url("./_vars.scss");

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
}

/* globals */

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
}

ul li {
  list-style: none;
}
