@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Roboto:wght@400;700&family=Signika:wght@500&display=swap");

// colors

$primaryColor: #e53511;
$secondaryColor: #3945dd;
$redLight: #f6856e;

// fonts

$headingsFonts: "Signika", sans-serif;
$h1Font: "Luckiest Guy", cursive;
$paragrahFont: "Roboto", sans-serif;
